<style type="text/css">
  body {
    background: black;
    color: white;
  }

audio, video {
  position: absolute;
  display: block;

  left: 0;
  width: 100%;
}

video {
  top: 0;
  height: 100%;
}

audio {
  top: 50%;
  height: 2em;
  margin-top: -1em;
}
</style>
<script src="/socket.io/socket.io.js"></script>
<script>
var controller = null;
window.onload = function() {
  var socket = io.connect(window.location.host);

  var video = $_('video');
  
  var seekedIgnore = 0;
  video.addEventListener('seeked', function() {
    if(seekedIgnore > 0) {
      //console.log("event seeked (ignored)");
      seekedIgnore--;
      return;
    }
    console.log("event seeked");
    socket.emit('seeked', {
      'video current time': video.currentTime,
      'utc clock time': new Date().getUTCMilliseconds(),
    });
  }, true);

  var pauseIgnore = 0;
  video.addEventListener('pause', function() {
    if(pauseIgnore > 0) {
      //console.log("event pause (ignored)");
      pauseIgnore--;
      return;
    }
    console.log("event pause");
    socket.emit('pause');
  }, true);

  var playIgnore = 0;
  video.addEventListener('play', function() {
    if(playIgnore > 0) {
      //console.log("event play (ignored)");
      playIgnore--;
      return;
    }
    console.log("event play");
    socket.emit('play');
  }, true);

  socket.on('status', function(data) {
    document.getElementById('userCount').innerHTML = data['user count'];

    if(data.paused) {
      if(!video.paused) {
        console.log("status pause");
        pauseIgnore++; // race condition (another pause happens between this and next line)
        video.pause();
      }
    } else {
      if(video.paused) {
        console.log("status play");
        playIgnore++; // race condition (another play happens between this and next line)
        video.play();
      }
    }
    
    if (Math.abs(data['video current time'] - video.currentTime) > 5) {
      console.log("status seek");
      seekedIgnore++;
      video.currentTime = data['video current time'];
    }
  });
};

function $_(sel) {
  return document.querySelector(sel);
}
</script>
<div>
  <p>Users: <span id="userCount"></span></p>
  <p><video src="{{ url }}" controls></video></p>
</div>
